exportClasses(aspic)
exportClasses(aspics)
exportMethods(aspic)
exportMethods(aspics)
exportMethods(boot)
exportMethods(fit)
exportMethods(jk)
exportMethods(plot)
exportMethods(profile)
exportMethods(readAspic)
exportMethods(writeAspic)
