import("biodyn")
exportClasses(aspic)
exportClasses(aspics)
exportMethods(aspic)
exportMethods(aspics)
exportMethods(boot)
exportMethods(fit)
exportMethods(jk)
exportMethods(plot)
exportMethods(profile)
exportMethods(readAspic)
exportMethods(writeAspic)
export(uAspic)
export(fnPiner)
exportMethods("setIndex<-")
exportMethods(kobe)
exportMethods(index)
exportMethods("index<-")